%h1= "Topic: #{@topic.name}"

= render 'application/menu'

#posts= render 'posts/posts'
#new_post= render 'posts/form' if logged_in?

= link_to 'Remove topic', topic_path(@topic), method: :delete, confirm: {data: 'Are you sure?'}
