= simple_form_for @user_form do |form|
  = form.input :name, required: true, input_html: { maxlength: 20 }
  = form.input :email, required: true
  = form.input :password, required: true
  = form.input :password_confirmation, required: true
  = form.input :address_line_1
  = form.input :address_line_2
  = form.input :address_line_3
  = form.label :choose_avatar
  = form.file_field :avatar
  = form.submit 'Create Account'
